.list-category { overflow: hidden; }

.item-category {
  .transform(translate3d(0,0,0));
  float: left;
  overflow: hidden;
  position: relative;
  width: 50%;
  height: 200px;

  .Food {
    .background-image(linear-gradient(bottom, rgba(136, 196, 98, 0.85), rgba(136,196,98,1) 100%));
  }
  .Guide {
    .background-image(linear-gradient(bottom, rgba(209, 115, 204, 0.85), rgba(209, 115, 204, 1) 100%));
  }
  .Life {
    .background-image(linear-gradient(bottom, rgba(61, 191, 217, 0.85), rgba(61, 191, 217, 1) 100%));
  }
  .Event {
    .background-image(linear-gradient(bottom, rgba(255, 150, 58, 0.85), rgba(255, 150, 58, 1) 100%));
  }
  .Culture {
    .background-image(linear-gradient(bottom, rgba(102, 102, 153, 0.85), rgba(102, 102, 153, 1) 100%));
  }
  .CityGuide {
    .background-image(linear-gradient(bottom, rgba(207, 71, 95, 0.85), rgba(207, 71, 95, 1) 100%));
  }
  .Getaway {
    .background-image(linear-gradient(bottom, rgba(29, 183, 155, 0.85), rgba(29, 183, 155, 1) 100%));
  }
  .Specials {
    .background-image(linear-gradient(bottom, rgba(186, 190, 129, 0.85), rgba(186, 190, 129, 1) 100%));
  }
  .attribution {
    .position(absolute, 0, 0, auto, 0);
    padding: .5rem;
    text-align: center;
    z-index: 1;

    
    .title-category {
      .font-s3;
      .type-bold;
      color: @color-empty;
      display: inline-block;
      line-height: 1.1em;
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &.highlighted { width: 100%; }
}
