<template name="about">
  <div class="page about">
    {{> nav title='About' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>
      </div>
      <div class="description-about">
        <p>Seattle-GPS 西雅圖玩樂攻略</p>

        <p>Seattle-GPS was made by <a href="http://seattle-gps.com" target="_blank" class="js-open">Seattle-GPS</a>.</p>
      </div>

    </div>
  </div>
</template>
