<template name="home">
  <div class="page home">

    {{>nav title='Local Market' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/gps-title-1.png" alt="Seattle-GPS"/>
        </h1>
      </div>

      <div class="list-category">
        {{#each featuredRecipes}}
          {{> categoryItem recipe=this size='small'}}
        {{/each}}
      </div>

      <a href="{{pathFor 'recipes'}}" class="btn-primary">Explore all our recipes</a>
    </div>

  </div>
</template>
